//@theme "~/.config/rofi/themes/nord-oneline.rasi"
//@theme "~/.config/rofi/themes/dracula.rasi"
//@theme "~/.config/rofi/themes/catppuccin-oneline.rasi"
//@theme "~/.config/rofi/themes/catppuccin-sidebar.rasi"
//@theme "/home/kd/.config/rofi/themes/catppuccin-oneline.rasi"
//@theme "/home/kd/.config/rofi/themes/nord-oneline.rasi"
//@theme "/home/kd/.config/rofi/themes/dracula.rasi"
//@theme "/home/kd/.config/rofi/themes/nord-oneline.rasi"
//@theme "/home/kd/.config/rofi/themes/catppuccin-oneline.rasi"
//@theme "/home/kd/.config/rofi/themes/catppuccin.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
@theme "/home/kd/.config/rofi/themes/catppuccin-oneline.rasi"
