@theme "/home/kd/.config/rofi/themes/spacegray-simple.rasi"

configuration {
  kb-remove-to-eol: "";
}

configuration {
  kb-accept-entry: "Return";
}

configuration {
  kb-row-up: "Control+k";
}
                  
configuration {
  kb-row-down: "Control+j";
}
