!    _  __  ____   ______ _____  ____   __  __ ____   ______ ______ _____  !
!   | |/ / / __ \ / ____// ___/ / __ \ / / / // __ \ / ____// ____// ___/  !
!   |   / / /_/ // __/   \__ \ / / / // / / // /_/ // /    / __/   \__ \   !
!  /   | / _, _// /___  ___/ // /_/ // /_/ // _, _// /___ / /___  ___/ /   !
! /_/|_|/_/ |_|/_____/ /____/ \____/ \____//_/ |_| \____//_____/ /____/    !


!!! Global
Xcursor.theme: capitaine-cursors-light
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

#include "/home/karna/.config/xresources/poimandres"
