:root {
    --zen-primary-color: #9aa5ce !important;
}
                                                   
@media (prefers-color-scheme: dark) {
    :root {
        --zen-colors-primary: #414868 !important;
        --zen-colors-secondary: #24283b !important;
        --zen-colors-tertiary: #1a1b26 !important;
        --zen-colors-border: #414868 !important;
    }
}
