* {
    font-family: 'JetBrainsMono NF', sans-serif;
    font-weight: bold;
    font-size: 10px;
    border-radius: 5px;
}

.modules-left {
    padding-left: 6px;
    padding-right: 6px;
}
                              
.modules-right {
    padding-right: 6px;
    padding-left: 6px;
}
                              
.modules-center {
    background-color: #20242d;
}

#tray {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 10px;
    background-color: #20242d;
    color: #b3b8c3;
}

#workspaces {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    background-color: #20242d;
}
                                  
#workspaces button.active {
    background-color: #b04b57;
    color: #20242d;
}

window#waybar {
    background-color: transparent;
    color: #b3b8c3;
}

#window {
    padding-right: 20px;
    padding-left: 20px;
    background-color: #20242d;
    color: #87b379;
}

#battery {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px;
    color: #e5c179;
    background-color: #20242d;
}

#cpu {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px;
    background-color: #20242d;
    color: #7d8fa4;
}

#memory {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px;
    background-color: #20242d;
    color: #a47996;
}

#clock {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px;
    background-color: #20242d;
    color: #85a7a5;
}
