:root {
    --zen-primary-color: #B3B8C3 !important;
}

@media (prefers-color-scheme: dark) {
    :root {
        --zen-colors-primary: #4c4f56 !important;
        --zen-colors-secondary: #363942 !important;
        --zen-colors-tertiary: #20242d !important;
        --zen-colors-border: #4c4f56 !important;
    }
}
