div.internalVimiumHintMarker {
  background: linear-gradient(to bottom, #4c4f56 0%, #20242d 100%);
  border: none;
  padding: 2px 4px 1px 4px;
  border-radius: 0.25em;
  box-shadow: 0em 0.1em 0.6em 0.1em #20242d;
}

div.internalVimiumHintMarker span {
  color: #d8dee9;
  font-size: inherit;
  font-family: JetBrainsMono Nerd Font;
  text-shadow: #20242d;
}

div.internalVimiumHintMarker > .matchingCharacter {
  color: #4c566a;
}

#vomnibar {
  border: 1px solid #20242d;
  box-shadow: 0px 2px 10px #20242d;
  background-color: #3b4252;
}
#vomnibar .vomnibarSearchArea {
  background-color: #3b4252;
  border: none;
}

#vomnibar input {
  color: #d8dee9;
  background-color: #3b4252;
  border: 1px solid #3b4252;
  box-shadow: none;
  font-family: JetBrainsMono Nerd Font;
}

#vomnibarInput::selection {
  color: #20242d;
  background-color: #d8dee9;
}

#vomnibar ul {
  margin: 0;
  background-color: #20242d;
}


#vomnibar ul li {
  border-bottom: 1px solid #4c4f56;
}

#vomnibar ul li.vomnibarSelected {
  border-bottom: 1px solid #4c4f56;
}

#vomnibar ul li.vomnibarSelected {
  background-color: #3b4252;
}

#vomnibar ul li .vomnibarSource {
  color: #D08770;
}

#vomnibar ul li .vomnibarTitle {
  color: #d8dee9;
}
#vomnibar ul li .vomnibarTitle .vomnibarMatch,
#vomnibar ul li .vomnibarUrl .vomnibarMatch {
  color: #87b379;
  font-weight: normal;
}

#vomnibar ul li .vomnibarUrl {
  color: #5699AF;
}

#vomnibar li .vomnibarTopHalf {
  overflow: visible;
}
