@define-color bg #1e1e2e;
@define-color fg #a6adc8;
@define-color c1 #a6e3a1;
@define-color c2 #f9e2af;
@define-color c3 #f38ba8;
@define-color c4 #cba6f7;

* {
  font-family: 'JetBrainsMono NF', sans-serif;
  font-weight: bold;
  font-size: 10px;
  border-radius: 0px;
}

window#waybar {
  background-color: @bg;
  color: @fg;
  margin-top: 0px;
}

.modules-left {
  padding-left: 4px;
  padding-right: 4px;
}
                              
.modules-right {
  padding-right: 4px;
  padding-left: 4px;
}
                              
.modules-center {
  background-color: @bg;
}

#tray {
  padding-right: 5px;
  padding-left: 10px;
  margin-right: 5px;
  background-color: @bg;
  color: @fg;
}

#workspaces {
  padding-right: 10px;
  padding-left: 5px;
  margin-right: 10px;
  background-color: @bg;
  color: @fg;
}
                                  
#workspaces button.active {
  border-radius: 4px;
  background-color: @c4;
  color: @bg;
}

#window {
  padding-right: 20px;
  padding-left: 20px;
  background-color: @bg;
  color: @fg;
}

#clock {
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 10px;
  background-color: @bg;
  color: @fg;
}

#battery {
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 10px;
  color: @c2;
  background-color: @bg;
}

#battery.full{
  color: @c1;
  background-color: @bg;
  border-radius: 4px;
}

#battery.charging {
  color: @c1;
  background-color: @bg;
}

#battery.discharging {
  color: @c2;
  background-color: @bg;
}

#battery.discharging.warning {
  color: @c2;
  background-color: @bg;
  border-radius: 4px;
}

#battery.discharging.critical {
  color: @c3;
  background-color: @bg;
  border-radius: 4px;
}

