@define-color bg #282A36;
@define-color fg #E6E6E6;
@define-color c1 #CAA9FA;
@define-color c2 #5AF78E;
@define-color c3 #F4F99D;
@define-color c4 #FF6E67;
@define-color c5 #FF79C6;

* {
  font-family: 'JetBrainsMono NF', sans-serif;
  font-weight: bold;
  font-size: 10px;
  border-radius: 5px;
}

.modules-left {
  margin-top: 3px;
  padding-left: 8px;
  padding-right: 6px;
}
                              
.modules-right {
  margin-top: 3px;
  padding-right: 8px;
  padding-left: 6px;
}
                              
.modules-center {
  margin-top: 3px;
  background-color: @bg;
}

#tray {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 10px;
  background-color: @bg;
  color: @fg;
}

#workspaces {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
  background-color: @bg;
  color: @fg;
}
                                  
#workspaces button.active {
  background-color: @c2;
  color: @bg;
}

window#waybar {
  background-color: transparent;
  color: @fg;
}

#window {
  padding-right: 20px;
  padding-left: 20px;
  background-color: @bg;
  color: @c1;
}

#clock {
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 10px;
  background-color: @bg;
  color: @c5;
}

#battery {
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 10px;
  color: @c3;
  background-color: @bg;
}

#battery.full{
  color: @bg;
  background-color: @c2;
}

#battery.charging {
  color: @c2;
  background-color: @bg;
}

#battery.discharging {
  color: @c3;
  background-color: @bg;
}

#battery.discharging.warning {
  color: @bg;
  background-color: @c3;
}

#battery.discharging.critical {
  color: @bg;
  background-color: @c4;
}

