@define-color bg #282A36;
@define-color fg #E6E6E6;
@define-color c1 #CAA9FA;
@define-color c2 #FF6E67;
@define-color c3 #FFB86C;
@define-color c4 #F4F99D;
@define-color c5 #5AF78E;
@define-color c6 #9AEDFE;
@define-color c7 #6272A4;

* {
  font-family: 'JetBrainsMono NF', sans-serif;
  font-weight: bold;
  font-size: 10px;
}

.modules-left,
.modules-right {
  background-color: @bg;
  border-radius: 5px;
}

.modules-center {
  padding-left: 15px;
  padding-right: 15px;
  background-color: @bg;
  border-radius: 5px;
}

#waybar {
  background-color: @bg;
  color: @fg;
}

#workspaces {
  padding-left: 10px;
  padding-right: 5px;
  color: @fg;
}

#workspaces button.active {
  border-bottom: 2px solid @c5;
  color: @c5;
}

#cpu {
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 10px;
  border-bottom: 2px solid @c3;
  color: @c3;
}

#memory {
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 10px;
  border-bottom: 2px solid @c1;
  color: @c1;
}

#battery {
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 10px;
  border-bottom: 2px solid @c4;
  color: @c4;
}

#battery.discharging.warning {
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 10px;
  border-bottom: 2px solid @c2;
  color: @c2;
}

#clock {
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 10px;
  border-bottom: 2px solid @c6;
  color: @c6;
}

#tray {
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 10px;
  color: @fg;
}
