@define-color bg #1e2326;
@define-color fg #d3c6aa;
@define-color c1 #e67e80;
@define-color c2 #a7c080;
@define-color c3 #dbbc7f;
@define-color c4 #7fbbb3;
@define-color c5 #d699b6;
@define-color c6 #83c092;


* {
    font-family: 'JetBrainsMono NF', sans-serif;
    font-weight: bold;
    font-size: 10px;
    border-radius: 5px;
}

.modules-left {
    padding-left: 6px;
    padding-right: 6px;
}
                              
.modules-right {
    padding-right: 6px;
    padding-left: 6px;
}
                              
.modules-center {
    background-color: @bg;
}

#tray {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 10px;
    background-color: @bg;
    color: @fg;
}

#workspaces {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    background-color: @bg;
    color: @fg;
}
                                  
#workspaces button.active {
    background-color: @c1;
    color: @bg;
}

window#waybar {
    background-color: transparent;
    color: @fg;
}

#window {
    padding-right: 20px;
    padding-left: 20px;
    background-color: @bg;
    color: @c2;
}

#battery {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px;
    color: @c3;
    background-color: @bg;
}

#cpu {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px;
    background-color: @bg;
    color: @c4;
}

#memory {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px;
    background-color: @bg;
    color: @c5;
}

#clock {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px;
    background-color: @bg;
    color: @c6;
}

