@define-color bg #151515;
@define-color fg #E1E1E1;
@define-color c1 #F4BF75;
@define-color c2 #b46958;

* {
  font-family: 'JetBrainsMono NF', sans-serif;
  font-weight: bold;
  font-size: 10px;
}

.modules-left,
.modules-right {
  background-color: @bg;
  border-radius: 5px;
}

.modules-center {
  padding-left: 15px;
  padding-right: 15px;
  background-color: @bg;
  border-radius: 5px;
}

#waybar {
	background-color: transparent;
  color: @fg;
}

#tray {
  padding-left: 15px;
  color: @fg;
}

#workspaces {
  padding-left: 10px;
  padding-right: 5px;
  color: @fg;
}

#workspaces button.active {
  border-radius: 4px;
  background-color: @fg;
  color: @bg;
}

#clock {
  color: @fg;
}

#cpu {
  padding-left: 15px;
  padding-right: 15px;
  color: @fg;
}

#memory {
  padding-right: 15px;
  color: @fg;
}

#battery {
  padding-right: 15px;
  color: @c1;
}

#battery.discharging.warning {
  border-radius: 4px;
  background-color: @c2;
  color: @bg;
}
