@define-color bg #393939;
@define-color ac #202020;
@define-color fg #cccccc;
@define-color c1 #f4d88c;

* {
  font-family: 'JetBrainsMono NF', sans-serif;
  font-weight: bold;
  font-size: 10px;
}

.modules-left,
.modules-right {
  background-color: @ac;
}

#waybar {
  background-color: @bg;
  color: @fg;
}

#tray {
  padding-right: 10px;
  color: @fg;
}

#workspaces {
  color: @fg;
}

#workspaces button.active {
	border-radius: 0;
  background-color: @fg;
  color: @bg;
}

#window {
  padding-left: 10px;
  background-color: @bg;
  color: @fg;
}

#clock {
  padding-right: 15px;
  color: @fg;
}

#cpu {
  padding-left: 15px;
  padding-right: 15px;
  color: @fg;
}

#memory {
  padding-right: 15px;
  color: @fg;
}

#battery {
  padding-right: 15px;
  color: @fg;
}

#battery.discharging.warning {
  color: @c1;
}
