@define-color bg #282828;
@define-color fg #ebdbb2;
@define-color c1 #b16286;
@define-color c2 #cc241d;
@define-color c3 #fe8019;
@define-color c4 #d79921;
@define-color c5 #98971a;
@define-color c6 #689d6a;
@define-color c7 #458588;

* {
  font-family: 'JetBrainsMono NF', sans-serif;
  font-weight: bold;
  font-size: 10px;
}

.modules-left,
.modules-right {
  background-color: @bg;
  border-radius: 5px;
}

.modules-center {
  padding-left: 15px;
  padding-right: 15px;
  background-color: @bg;
  border-radius: 5px;
}

#waybar {
  /* background-color: transparent; */
  background-color: @bg;
  color: @fg;
}

#tray {
  padding-left: 15px;
  color: @fg;
}

#workspaces {
  padding-left: 10px;
  padding-right: 5px;
  color: @fg;
}

#workspaces button.active {
  border-radius: 4px;
  background-color: @c5;
  color: @bg;
}

#clock {
  color: @c7;
}

#cpu {
  padding-left: 15px;
  padding-right: 15px;
  color: @c1;
}

#memory {
  padding-right: 15px;
  color: @c6;
}

#battery {
  padding-right: 15px;
  color: @c4;
}

#battery.discharging.critical {
  color: @c2;
}
