@define-color bg #1e1e2e;
@define-color fg #a6adc8;
@define-color c1 #cba6f7;
@define-color c2 #94e2d5;
@define-color c3 #89b4fa;
@define-color c4 #a6e3a1;
@define-color c5 #f9e2af;
@define-color c6 #f38ba8;

* {
  font-family: 'JetBrainsMono NF', sans-serif;
  font-weight: bold;
  font-size: 10px;
  border-radius: 5px;
}

.modules-left {
  margin-top: 3px;
  padding-left: 6px;
  padding-right: 6px;
}
                              
.modules-right {
  margin-top: 3px;
  padding-left: 6px;
  padding-right: 6px;
}
                              
.modules-center {
  margin-top: 3px;
  background-color: @bg;
}

#tray {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 10px;
  background-color: @bg;
  color: @fg;
}

#workspaces {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
  background-color: @bg;
  color: @fg;
}
                                  
#workspaces button.active {
  background-color: @c1;
  color: @bg;
}

window#waybar {
  background-color: transparent;
  color: @fg;
}

#window {
  padding-right: 20px;
  padding-left: 20px;
  background-color: @bg;
  color: @c2;
}

#clock {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  background-color: @bg;
  color: @c3;
}

#battery {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  color: @c5;
  background-color: @bg;
}

#battery.full{
  color: @bg;
  background-color: @c4;
}

#battery.charging {
  color: @c4;
  background-color: @bg;
}

#battery.discharging {
  color: @c5;
  background-color: @bg;
}

#battery.discharging.warning {
  color: @bg;
  background-color: @c5;
}

#battery.discharging.critical {
  color: @bg;
  background-color: @c6;
}

