@define-color bg #1B1E28;
@define-color fg #A6ACCD;
@define-color c1 #5DE4C7;
@define-color c2 #FFFAC2;
@define-color c3 #D0679D;
@define-color c4 #5FB3A1;

* {
  font-family: 'JetBrainsMono NF', sans-serif;
  font-weight: bold;
  font-size: 10px;
  border-radius: 5px;
}

.modules-left {
  margin-top: 3px;
  padding-left: 6px;
  padding-right: 6px;
}
                              
.modules-right {
  margin-top: 3px;
  padding-left: 6px;
  padding-right: 6px;
}
                              
.modules-center {
  margin-top: 3px;
  background-color: @bg;
}

#tray {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 10px;
  background-color: @bg;
  color: @fg;
}

#workspaces {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
  background-color: @bg;
  color: @fg;
}
                                  
#workspaces button.active {
  background-color: @c1;
  color: @bg;
}

window#waybar {
  background-color: transparent;
  color: @fg;
}

#window {
  padding-right: 20px;
  padding-left: 20px;
  background-color: @bg;
  color: @c1;
}

#clock {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  background-color: @bg;
  color: @c1;
}

#battery {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  color: @c2;
  background-color: @bg;
}

#battery.full{
  color: @bg;
  background-color: @c4;
}

#battery.charging {
  color: @c4;
  background-color: @bg;
}

#battery.discharging {
  color: @c2;
  background-color: @bg;
}

#battery.discharging.warning {
  color: @bg;
  background-color: @c2;
}

#battery.discharging.critical {
  color: @bg;
  background-color: @c3;
}


