@define-color bg #1a1b26;
@define-color fg #a9b1d6;
@define-color c1 #bb9af7;
@define-color c2 #f7768e;
@define-color c3 #ff9e64;
@define-color c4 #e0af68;
@define-color c5 #9ece6a;
@define-color c6 #7dcfff;
@define-color c7 #7aa2f7;

* {
  font-family: 'JetBrainsMono NF', sans-serif;
  font-weight: bold;
  font-size: 10px;
}

.modules-left,
.modules-right {
  background-color: @bg;
  border-radius: 5px;
}

.modules-center {
  padding-left: 15px;
  padding-right: 15px;
  background-color: @bg;
  border-radius: 5px;
}

#waybar {
  background-color: @bg;
  color: @fg;
}

#workspaces {
  padding-left: 10px;
  padding-right: 5px;
  color: @fg;
}

#workspaces button.active {
  border-bottom: 2px solid @c7;
  color: @c7;
}

#cpu {
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 10px;
  border-bottom: 2px solid @c5;
  color: @c5;
}

#memory {
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 10px;
  border-bottom: 2px solid @c1;
  color: @c1;
}

#battery {
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 10px;
  border-bottom: 2px solid @c4;
  color: @c4;
}

#battery.discharging.warning {
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 10px;
  border-bottom: 2px solid @c2;
  color: @c2;
}

#clock {
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 10px;
  border-bottom: 2px solid @c6;
  color: @c6;
}

#tray {
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 10px;
  color: @fg;
}
