@define-color bg #1a1b26;
@define-color fg #a9b1d6;
@define-color c1 #7aa2f7;
@define-color c2 #7dcfff;
@define-color c3 #bb9af7;
@define-color c4 #e0af68;
@define-color c5 #9ece6a;
@define-color c6 #f7768e;

* {
  font-family: 'JetBrainsMono NF', sans-serif;
  font-weight: bold;
  font-size: 10px;
  border-radius: 5px;
}

.modules-left {
  margin-top: 3px;
  padding-left: 8px;
  padding-right: 6px;
}
                              
.modules-right {
  margin-top: 3px;
  padding-right: 8px;
  padding-left: 6px;
}
                              
.modules-center {
  margin-top: 3px;
  background-color: @bg;
}

#tray {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 10px;
  background-color: @bg;
  color: @fg;
}

#workspaces {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
  background-color: @bg;
  color: @fg;
}
                                  
#workspaces button.active {
  background-color: @c1;
  color: @bg;
}

window#waybar {
  background-color: transparent;
  color: @fg;
}

#window {
  padding-right: 20px;
  padding-left: 20px;
  background-color: @bg;
  color: @c2;
}

#clock {
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 10px;
  background-color: @bg;
  color: @c3;
}

#battery {
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 10px;
  color: @c4;
  background-color: @bg;
}

#battery.good{
  color: @bg;
  background-color: @c5;
}

#battery.full{
  color: @bg;
  background-color: @c5;
}

#battery.charging {
  color: @c5;
  background-color: @bg;
}

#battery.discharging {
  color: @c4;
  background-color: @bg;
}

#battery.discharging.warning {
  color: @bg;
  background-color: @c4;
}

#battery.discharging.critical {
  color: @bg;
  background-color: @c6;
}

